<?xml version="1.0" encoding="UTF-8"?>
<server xsi:schemaLocation="http://marklogic.com/xdmp/group group.xsd" xml:lang="zxx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/xdmp/group">
  <host-id>5441408457058352726</host-id>
  <licensee/>
  <license-key/>
  <ssl-private-key>-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQChmTQqDES/D9Qs
I/vYj9Gmqjy03JZ205+tq5ir4tz9yzGM5yDPpxOPBqY3fAWjm6CfwnF3dA+Xu8ld
ShV2Gcg16jZMbuh5xSZ+z2Ve8DOYS1vJrUx1PrppKMwfNt7wEUNl0dqB9BGPLvaj
g0bBcfQb9Kg5FLDRAN+1vhrWqjf43Gr2vQr6JJVpyTIBzR7XZmkuaFin40Hz6f3o
171rld220LQurhLTwJ3pYa7LgTXp8cR/CuOGxTMuTf5rJBBKpvDgu3uTOLRw5aI4
pIFKIkAr6t2gogmME3cYEpDLynG9bg1UwFOpyWQZMy4JIAotVGb9e/I79Ruly4Zw
G1qq1TEjAgMBAAECggEADxAa8tZs7Ar7gdfNfby+KT+8uTZx7LFCNOvbUckA726V
d6cDAcghmcHgFCjtKk3IivZoIYnXJZNyrCL1MtUpZTkn3De0V3Fp6q/F/l5RI4os
C/WpkajfXbZYpzTeqAL773hAWr+s3qtdKxWtWT0YKNOagKOYmGAb+jK2XrnEI4qw
9I20caOhvKXWHzX6WfHZGkXB2pxO8HtUQmViovIscFU+GEFWrQP63qxDWaXqS52m
sLrKQwJpKLVx+DxXDZs6ELRE7vEkA+PoJMhaxnsm4pHfmzDYgbDmluMo+Xt/sXhv
XiKjb9R5QwNAGSo/pDr69Tao8pXylOAsTbXBSG3ivQKBgQDKQoEixhTMCkq/t7fw
vyE5IDH/Z8GYWb/QoLjR6Vx44C+ZtmkA02Py/FKdE33j7wepwnM/riraS9/xZieL
IqJbf1iKvHAAYuH0cY8X3l2hquBPj3O9NLIKwTRP2cujTJysA/k2CmWNst/K5ch8
dVwR/UGSSN+eKKoxn9LWLSnsXwKBgQDMiPV0jgu4Spfto6dchDoi6asvi4rfrWqi
C3nZSVK11FhEEbFBQdPR2cwYOZrSWj128zRQnwQgTkBCr+rJ3w3LtxJCCbt0p+X+
XOumRrDYSnYLeD63oKMWAb0TlR4cNqkEV8wAdP3G/FRja8UXZXxkf4j93vkj8SND
9Ub8/gyxvQKBgBG4jfPsAvp1lGMDx7vyIwkMRxUnlBCzHFk9G7RYi9+TVNhU4RJP
cxxg+yQEBy2nTbaT8OENc3e42iAeYSyRlkQJ/kn5hJ6kC0QNhwoCU5XMkOannO5g
5ZCHqPuuC2d9WOTBXF5dvtQRbgYq58vvxGdXFx2oAN+slGzQofpd7qRlAoGBAKt7
QF+CIC1YzNv+U3jrm1peEpoAImS6HibR/EzCfsfXylD3jGcr642LTuQYl8c4xUOP
UBMv3uO+931xxCWQDx721CXtxu5dPiTuftufdPFCLIodPGf0FAeFWaKraN06rqXn
fi/75jEIqS/Z0Rp2ib4wdwhyAuuxZmG5qNS/oqD5AoGAHX+7gPNLtbcI/CVTCFiW
dbsl+YV7K1Fv8kCgCK6DEHwF3AJ7AbiNgoHBLGvFwryPzC/UpH96Bn3GlFm/7bhP
FYWkBHEa+zsN31gA2uWbE8sQLmtGa3ugPr/yRMrl3z5b7OJZpB33Bp3nCwmHWIpv
cJ6AR0b3A5J+Hwi9HXCABBE=
-----END PRIVATE KEY-----
</ssl-private-key>
</server>
